@tailwind base;
@tailwind components;
@tailwind utilities;

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4.5em; /* Approximate height for 3 lines */
  }
  